.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 20px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:15px;
}

.title {
  margin:0px ;
  line-height: 1.15;
  font-size: 4rem;
  color: black;
}
.title2 {
  margin:0px;
  line-height: 1.15;
  font-size: 4rem;
  color: rgb(132, 199, 174);
  
}
.describe {
  margin-top: 50px;
  
}

.title,.title2
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.connectButton {
  background-color:rgb(132, 199, 174) ;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  border-radius: 25px;
  cursor: pointer;
  
}
.connectSign{
  margin-top: 15px;
  margin-right:800px;
}
.connectStatus {
  color:darkred;
  font-size:12px;
}

.connectButton2{
  background-color:rgb(10, 10, 10) ;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 25px;
  cursor:pointer;
}

.formInline {
  position: relative;
  width: 500px;
  border-radius: 30px; 
  background: #F6FBF9;
  padding: 40px;
  margin-bottom:0px;
}

.formInline label {
  margin: 5px 10px 5px 0;
}
.formInline input,.formInline textarea {
  vertical-align: middle;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}
.formInline textarea {
  height: 70px;
}

.formInline label {
  font-weight:bold;
  
}
.formInline button {
  padding: 15px 48px;
  background-color:rgb(132, 199, 174) ;
  border: none;
  border-radius: 15px;
  color: white;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.formInline button:hover {
  background-color: rgb(78, 163, 77) ;
  
}


.supportTip {
  width: 50%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #91ee9c99;
  background-color: #eefbee
}
.supportTip span {
  font-weight: bold;
}



.supportTip input{
  width: 50%;
  height: 40px;
  padding: 1px 5px;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  border:0.0625rem solid #91ee9c99;
  background-color: white;
  
}


.supportTip button:focus {
  background-color: rgb(77, 153, 163) ;
}
.supportTip button:active {
  background-color: rgb(77, 153, 163) ;
}
.supportValue {
  font-size: 11px;
  color:darkred;
}
.memoList{
  background-color:#F6FBF9;
  border: 2px solid #84c7ae;
  border-radius:10px;
  padding: 5px;
  margin: 0px;
  width: 60%;
  color: black;

}



